.medium-toolbar-arrow-under:after {
  border-color: #00b2b4 transparent transparent transparent;
  top: 60px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #00b2b4 transparent; }

.medium-editor-toolbar {
  background-color: #fff;
  border: 2px solid #00b2b4;
  border-radius: 0px; }
  .medium-editor-toolbar li button {
    font-size:20px;
    background-color: transparent;
    border: none;
    border-right: 1px solid #00b2b4;
    box-sizing: border-box;
    color: #00b2b4;
    height: 60px;
    min-width: 60px;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
            transition: background-color .2s ease-in, color .2s ease-in; }
    .medium-editor-toolbar li button:hover {
      font-size:20px;
      background-color: #00b2b4;
      color: #fff; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 0px;
    border-right: none;
    border-top-right-radius: 0px; }
  .medium-editor-toolbar li .medium-editor-button-active {
    background-color: #00b2b4;
    color: #fff; }

.medium-editor-toolbar-form {
  background: #00b2b4;
  border-radius: 0px;
  color: #fff; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #00b2b4;
    color: fff;
    height: 60px; }
    .medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
      color: #fff;
      color: rgba(255, 255, 255, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
      color: rgba(255, 255, 255, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
      color: rgba(255, 255, 255, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
      color: #fff;
      color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form a {
    color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #00b2b4;
  border-radius: 0px;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #00b2b4; }
